MAGAZIN
{ display:block; margin:10px 20px 10px 20px; margin-top:12pt; border-style:double; border-color:#8C0088; font-size:15pt} 
id
{display:block; border-top:double; border-color:#8C0088; font-weight:bold;}
name
{display:block; text-align:center; border-top:double; border-color:#8C0088; 
font-weight:bold;}
material
{ display:block; text-align:center; border-top:double; border-color:#8C0088} 
art 
{ display:block; text-align:center; border-top:double; border-color:#8C0088} 
atribut
{ display:block; text-align:center; border-top:double; border-color:#8C0088} 
buy
{ display:block; text-align:center; border-top:double; border-color:#8C0088} 
creator 
{ display:block; text-align:center; border-top:double; border-color:#8C0088}